/* Font-family start*/
@font-face {
    font-family: MuseoSans-100;
    src: url("../fonts/MuseoSans-100.eot");
}
@font-face {
    font-family: MuseoSans-100;
    src: url("../fonts/MuseoSans-100.otf");
}
@font-face {
    font-family: MuseoSans-300;
    src: url("../fonts/MuseoSans-300.eot");
}
@font-face {
    font-family: MuseoSans-300;
    src: url("../fonts/MuseoSans-300.otf");
}
@font-face {
    font-family: MuseoSans_500;
    src: url("../fonts/MuseoSans_500.eot");
}
@font-face {
    font-family: MuseoSans_500;
    src: url("../fonts/MuseoSans_500.otf");
}


/* CSS start*/ 

.container-fluid {
    width: 100%;
    height: auto;
}
.container {
    margin: 0 auto;
    width: 1160px;
    height: auto;
}
.pull-left {
    float: left; 
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.text-white {
    color: white;
}
.fix {
    overflow: hidden;
}

/* Top bar start*/

.topbar_wrapper {
    padding: 5px 0;
}
.topbar {
}
.contact {
    font-size: 12px;
    font-family: MuseoSans-300;
}
.phone {
    margin-right: 20px;
}
.phone > p {
    
}
.phone > p > img {
    width: 6px;
    margin-top: -4px;
}
.email {
}
.email > p {
    font-size: 13px;
    margin-top: 10px;
}
.email > p > img{
    width: 13px;
}
.top_menu {
    padding-top: 15px;
}
.top_menu > ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.top_menu > ul > li {
    display: inline-block;
    margin-left: 20px;
}
.top_menu > ul > li > a {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: MuseoSans-300;
    font-size: 14px;
}
.top_menu > ul > li > a:hover {
    color: #666;
}

/* Header start*/ 

.header_wrapper {
    background: #f5f6f1;
    padding: 60px 0px;
    margin-bottom: 40px;
}
.header {
}
.logo {
    margin-right: 230px;
}
.logo_text {
}
.logo_text > h1 {
    font-family: "Oswald", sans-serif;
    color: #463f3a;
    font-size: 44px;
    margin: 0;  
    line-height: 38px;
}
.logo_text > p {
    font-size: 12px;
    font-weight: 600;
    font-family: MuseoSans-300;
    margin: 0;
}
.logo_icon {
}
.logo_icon > img {
    padding-top: 0px;
    padding-left: 10px;
}
.navigation {
    padding-top: 15px;
}
.navigation > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation > ul > li {
    display: inline-block;
    margin-left: 10px;
}
.navigation > ul > li > a {
    display: block;
    color: #444;
    text-decoration: none;
    font-family: MuseoSans_500;
}
.navigation > ul > li > a:hover {
    color: #666;
}
.slash {
    color: #f55856;
    font-weight: bold;
}
.cart {
}
.cart_text {
    margin-right: 15px;
}
.cart_text > p {
    margin: 0;
    font-family: MuseoSans-300;
    color: #333;
}
.cart_text > h4 {
    margin: 0px;
    color: #222;
}
.cart_icon {
}
.cart_icon > img {
    width: 45px;
    padding-top: 5px;
}


/* Slider start*/ 

.slider_wrapper {
margin-bottom: 30px;
}
.slider {
}
.slider_back {
    position: relative;
}
.slider_back > img {
    width: 100%;
}
.slider_text {
    position: absolute;
    top: 85px;
    left: 100px;
}
.slider_text > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider_text > ul > li {
}
.slider_text > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: bold;
}
.slider_image {
    position: absolute;
    top: 175px;
    right: 0;
}


/* Services start*/ 

.services_wrapper {
    margin-bottom: 40px;
}
.services {
}
.service {
    background: #f5f6f1;
    margin-right: 30px;
    padding: 20px;
    width: 326px;
    text-align: center;
}
.service:last-child {
    background: #f5f6f1;
    margin-right: 0;
    padding: 20px;
    width: 326px;
    text-align: center;
}
.service > h1 {
    color: #463f3a;
    font-family: "Oswald", sans-serif;
    margin: 0;
}
.service > p {
    font-family: MuseoSans-300;
    color: #463f3a;
    margin: 0;
}
.service > p > a {
    font-family: MuseoSans_500;
    color: #f55856;
    margin: 0;
    text-decoration: none;
}


/* Portfolio One start*/

.portfolio_one_wrapper {
    background: #f8f8f8;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 40px 0;
}
.portfolio_one {
}
.heading_one {
    position: relative;
    background: url("../images/heading_thin_icon.png");
    height: 3px;
    margin-bottom: 40px;
    line-height: 8px;
}
.heading_one > img {
    width: 100%;
    height: 6px;
}
.heading_one > h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background: #f8f8f8;
    left: 415px;
    top:-27px;
    padding:5px 15px;
}
.one_wrapper {
    width: 373px;
    margin-right: 20px;
}
.one_wrapper:last-child {
    width: 373px;
    margin-right: 0;
}
.one_wrapper > img {
    width: 100%;
}
.one {
    background: white;
    padding: 10px 20px;
}
.one > h1 {
    font-family: "Oswald", sans-serif;
    color: #463f3a;
    margin: 0 0 12px 0;
}
.one > p {
    color: #463f3a;
    margin: 0 0 12px 0;
    font-style: italic;
}
.one > p > a {
    font-family: MuseoSans_500;
    color: #f55856;
    font-style: normal;
    text-decoration: none;
}

/* Portfolio Two start*/

.portfolio_two_wrapper {
    padding: 40px 0;
    margin: 0 0 40px 0;
}
.portfolio_two {
}
.heading_two {
    position: relative;
    background: url("../images/heading_thin_icon.png");
    height: 3px;
    margin-bottom: 40px;
    line-height: 8px;
}
.heading_two > img {
    width: 100%;
    height: 6px;
}
.heading_two > h1 {
    font-family: "Oswald", sans-serif;
    position: absolute;
    color: #463f3a;
    background: white;
    left: 415px;
    top:-27px;
    padding:5px 15px;
}

.two_wrapper {
    width: 275px;
    margin-right: 20px;  
}
.two_wrapper:last-child {
    width: 275px;
    margin-right: 0px;  
}
.two_wrapper img {
width: 100%;
}
.two {
}
.two > p {
    font-family: MuseoSans-300;
    color: black;
    margin: 0;
    padding: 10px 0;
}
.two > h4 {
    font-family: MuseoSans_500;
    margin: 0;
}
.two > p > a {
    text-decoration: none;
    color: #ffffff;
    background: #463f3a;
    display: block;
    text-align: center;
    padding: 5px 20px;
    font-family: "Oswald",sans-serif;
    font-size: 23px;
    font-weight: bold;
}

/* Portfolio Three start*/

.portfolio_three_wrapper {
    background: #f8f8f8;
    padding: 40px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin: 40px 0;
}
.portfolio_three {
}
.three_wrapper {
    width: 275px;
    margin-right: 20px;  
}
.three_wrapper:last-child {
    width: 275px;
    margin-right: 0px;  
}
.three_wrapper img {
width: 100%;
}
.three {
}
.three > p {
    font-family: MuseoSans-300;
    color: black;
    margin: 0;
    padding: 10px 0;
}
.three > h4 {
    font-family: MuseoSans_500;
    margin: 0;
}
.three > p > a {
    text-decoration: none;
    color: #ffffff;
    background: #463f3a;
    display: block;
    text-align: center;
    padding: 5px 20px;
    font-family: "Oswald",sans-serif;
    font-size: 23px;
    font-weight: bold;
}


/* Blog start*/

.blog_wrapper {
    padding: 40px 0;
    margin: 40px 0;
}
.blog {
}
.four_wrapper {
    width: 373px;
    margin-right: 20px;
}
.four_wrapper:last-child {
    width: 373px;
    margin-right: 0;
}
.four_wrapper > img {
    width: 100%;
}
.four {
}
.four > h4 {
    font-family: MuseoSans-300;
    color: #000;
    margin: 10px 0 12px 0;
}
.four > p {
    color: #463f3a;
    margin: 0 0 12px 0;
}
.four > p > a {
    font-family: MuseoSans_500;
    color: #f55856;
    text-decoration: none;
}


/* Footer top start*/

.footer_top_wrapper {
    background: #f2f2f0;
}
.footer_top {
}
.footer_top > h1 {
    margin: 0;
    font-family: "Oswald",sans-serif;
    color: #463f3a;
    padding-top: 35px;
    font-size: 45px;
}
.footer_top > p {
    margin: 0;
    font-family: MuseoSans-300;
    color: #463f3a;
    padding: 0 0 35px;
}
.footer_top > p > a {
    text-decoration: none;
    color: #f55856;
}


/* Footer middle start*/


.footer_middle_wrapper {
    background: #463f3a;
    padding: 60px 0 40px;
}
.footer_middle {
}
.f_logo {
    margin-right: 230px;
}
.f_logo_text {
}
.f_logo_text > h1 {
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    margin: 0;  
    line-height: 38px; 
}
.f_logo_text > p {
    font-size: 12px;
    font-weight: 600;
    font-family: MuseoSans-300;
    margin: 0;
}
.f_logo_icon {
}
.f_logo_icon > img {
    padding-top: 0px;
    padding-left: 10px;
}
.f_navigation {
}
.f_navigation > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.f_navigation > ul > li {
    display: inline-block;
    margin-left: 10px;
}
.f_navigation > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: MuseoSans_500;
}
.f_navigation > ul > li > a:hover {
    color: #eee;
}
.f_navigation > p {
    font-size: 13px;
}
.top_icon {
    background: rgba(0,0,0,0.2);
    padding: 8px 15px 15px;
    margin-top: 5px;
}
.top_icon > img {
    padding-top: 5px;
}


/* Footer bottom start*/


.footer_bottom_wrapper {
    padding: 15px 0;
    background: #eee;
}
.footer_bottom {
}
.social {
}
.social > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social > ul > li {
    margin-right: 12px;
    padding: 0;
    display: inline-block;
}
.social > ul > li > a {  
}
.social > ul > li > a:hover {
}
.copyright {
}
.copyright > p {
    margin: 0;
    font-family: MuseoSans-300;
    font-size: 14px;
}
.copyright > p > a {
    color: #f55856;
    text-decoration: none;
    font-family: MuseoSans_500;
}
